<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding-bottom: 23px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<div class="content" role="main" style="overflow-x: hidden;">

  <!-- Resources -->
  <h1 id="myAnima"><span class="float-md-left" id="o1">My </span><span id="o2">CV </span><span class="float-md-right"
      id="o3">App</span></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center bg-dark ml-4 text-light">
        <div class="card-img-top">
          <img src="./assets/04.jpeg">

        </div>
        <h3>LANGUAGES</h3>
        <h5>ENGLISH</h5>
        <div id="language">
          <div class="english">90%</div>
        </div>
        <h5>YORUBA</h5>
        <div id="language">
          <div class="yoruba">50%</div>
        </div>
        <b>
          <hr>
        </b>
        <h3>CONTACT INFO</h3>
        <p>Phone Number: +2348113209561</p>
        <p>E-mail: ogunbiye@gmail.com</p>
        <p>Address: Ikotun, Lagos State, Nigeria.</p>
      </div>
    </div>
    <div class="col-md-8 bd mb-3 pb-4">
      <div class="text-center">
        <h2>OGUNBIYI ELIJAH AKINTUNDE</h2>
        <p style="font-size: 25px;">FRONT-END WEB DEVELOPER</p>
      </div>
      <h4><u>SKILLS</u></h4>
      <p>HTML</p>
      <div id="mySkill">
        <div class="htm">85%</div>
      </div>
      <p>CSS</p>
      <div id="mySkill">
        <div class="css">75%</div>
      </div>
      <p>JAVASCRIPT</p>
      <div id="mySkill">
        <div class="javascript">70%</div>
      </div>
      <p>JQUERY</p>
      <div id="mySkill">
        <div class="jQuery">30%</div>
      </div>
      <p>TYPESCRIPT</p>
      <div id="mySkill">
        <div class="typescript">60%</div>
      </div>
      <p>BOOTSTRAP</p>
      <div id="mySkill">
        <div class="bootstrap">60%</div>
      </div>
      <div class="card bg-dark text-light text-center mt-3 mb-3">
        <div class=" card-title">
          <h3>EDUCATION</h3>
        </div>
        <div class="card-body">
          <p>2018 - Till date <span class="vl"></span>
            Information & Communication Technology <span class="vl"></span>
            Federal University Of Technology Akure
          </p>
          <p style="margin-bottom:80px;">2011 - 2017 <span class="vl"></span>
            Mid-school <span class="vl"></span>
            Sorek High School
          </p>
        </div>
      </div>
      <div class="card bg-dark text-light mb-3">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-center">WORK EXPERIENCE</h3>
          </div>
          <div class=" row">
            <div class="col-md-6">
              <h5 class="text-center">Work Done</h5>
              <ul>
                <li>IT support Intern at Vanguard Media Nigeria Limited </li>
                <li>Product Delivery Assistant at Wonshine Groups </li>
                <li>Wordpress E-commerce Developer at Ogascounty</li>
                <li>Mobile Application Developer Intern at Bincom Dev Center</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5 class="text-center">Work Duration</h5>
              <ul class="text-center">
                <li style="list-style: none;">13<sup>th</sup> of August 2017 - 26<sup>th</sup> of
                  November 2017.</li>
                <li style="list-style: none;">2<sub>nd</sub> of February 2018 - 6<sup>th</sup> of March 2018.</li>
                <li style="list-style: none;">10<sup>th</sup> of September 2022 - Till Date.</li>
                <li style="list-style: none;">28<sup>th</sup> of November 2022 - Till Date.</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <b>
        <hr>
      </b>
      <div class="container-fluid">
        <h3 class="mb-3 mt-3">CONTACT ME</h3>
        <form class="form-group" action="#" target="_blank" method="post">
          <input type="text" class="form-control" placeholder="Enter Your name..." required><br>
          <input type="number" class="form-control" placeholder="Enter your phone number..." required><br>
          <input type="email" class="form-control" placeholder="Enter your Email..." required><br>
          <textarea class="form-control" placeholder="Enter your Message..." required></textarea><br>
          <button type="submit" class="btn btn-info">Send</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer bg-dark text-light">
    <h5 class=" text-center">Find me on Social Media</h5>
  </div>

</div>

<router-outlet></router-outlet>